{
  "extends": [
    "./.config/.eslintrc",
    "plugin:react/all",
    "prettier"
  ],
  "rules": {
    "no-param-reassign": "warn",
    "prefer-const": "warn",
    "no-var": "warn",
    "react/jsx-filename-extension": "off",
    "react/jsx-boolean-value": "warn"
  }
}
