name: citest

on:
  push:
  pull_request:
  schedule:
    - cron: '30 4 * * 1'

jobs:
  citest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses:  abbbi/github-actions-tune@v1
      #- name: Setup tmate session, see https://github.com/marketplace/actions/debugging-with-tmate
      #  uses: mxschmitt/action-tmate@v3
      - name: make test
        run: make test
